body {
	font-family: 'Helvetica', sans-serif;
	color: white;
	background-color: #1D3440;
	text-align: center;

}

button {
	background-color: #579BBF;
	border: 3px solid #71D9E5;
	padding: 12px 12px;
	margin-right: 10px;
	color: white;
	font-size: 30px;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: forestgreen;
}

#purple {
	background-color: rebeccapurple
}

#red {
	background-color: red;
}

#orange {
	background-color: orange
}

#blue {
	background-color: darkblue
}

/*
#img0, #img1, #img2, #img3 {
	
	height: 30%;
	width: 300px;
	float: left;
	margin: 3% 0 2% 2%;
	text-align: left;
}
*/

.cats img {
	width: 250px;
	height: auto;

}

.catImgContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.dogs img {
	width: 250px;
	height: auto;
}

.dogImgContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
